.git
.gitignore
.venv
.tmp
__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.ipynb
frontend/node_modules
frontend/dist
frontend/.vite
backend/__pycache__
backend/*.log
backend/*.err.log
backend/*.out.log
Assests
screenshots
run.txt
